// Bootstrapのカスタムscss

$white: #fefdfc;
$blue: #2987bb;
$red: #d9451d;
$dark: #2e496e;
$gray-400: #ced4da;
$secondary: $gray-400;
$paragraph-margin-bottom: 0.8rem;
$font-size-base: 1rem;
$h2-font-size: $font-size-base * 1.7;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.3;
$h5-font-size: $font-size-base * 1.1;
$h1-font-size: $font-size-base * 2;
$spacer: 0.8rem;
$form-group-margin-bottom: 0;
